.details {
    display: flex;
    justify-content: space-around;

}

.detail--column {
    flex-basis: 15%;
    margin: 0 2rem;
    border: 1px dotted goldenrod;
    padding: 1rem 2rem;
}

.assignments {
    padding: 1rem 5rem;
}

.title {
    padding: 0rem 2rem;  
}
